
{cover_enabled, true}.

{erl_opts, [
    debug_info, warnings_as_errors, {parse_transform, lager_transform}
]}.


{deps, [
	{nkpacket, {git, "http://github.com/NetComposer/nkpacket", {branch, "v09"}}},
	{nkservice, {git, "http://github.com/NetComposer/nkservice", {branch, "v09"}}}
]}.


{xref_checks, [
    undefined_function_calls, undefined_functions,
    locals_not_used, deprecated_function_calls, deprecated_functions
]}.

