
{cover_enabled, true}.

{erl_opts, [
    debug_info, warnings_as_errors, {parse_transform, lager_transform}
]}.


{deps, [
	{nkpacket, {git, "http://github.com/NetComp/nkpacket", {branch, "ng"}}},
	{nkservice, {git, "http://github.com/NetComp/nkservice", {branch, "ng"}}},
    {nkevent, {git, "http://github.com/NetComp/nkevent", {branch, "develop"}}}
]}.


{xref_checks, [
    undefined_function_calls, undefined_functions,
    locals_not_used, deprecated_function_calls, deprecated_functions
]}.

